:root {
    --red: #f00;
}

@custom-media --small-only screen and (max-width: 47.9375em);

.super-style {
    display: flex;

    &__name {
        color: var(--red);
        width: calc(100px + 20px);
        height: 100%;
        height: 100vh;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 1) 80%,
            var(--color-black-10) 95%,
            var(--color-light-specialbg-nulled) 100%
        );
    }

    @media (--small-only) {
        & + & {
            margin-top: var(--gap-40);
        }
    }
}

.selector1 {
    color: white;
}

.selector2 {
    color: blue;
}

.selector3 {
    color: red;
}
