name: Tests

on: [push]

jobs:
    release:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout Repo
              uses: actions/checkout@v6
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}

            - name: Setup Node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 22

            - name: Install dependensies
              run: |
                  yarn install --immutable

            - name: Run tests
              run: |
                  yarn test
